.main {
    text-align: center;
    margin: 0 auto;
}

body {
    background-color: #89CFF0;
    color: #000074;
    font-family: 'Arial Black';
}

table {
    margin: 0 auto;
}

table, tr, td, th {
    border: 3px solid #000074;
    border-collapse: collapse;
    padding: 10px;
}

.edit {
    background: url(editBtn.jpg) no-repeat;
    background-size: 100%;
}

.add {
    background: url(addBtn.jpg) no-repeat;
    background-size: 100%;
}

.delete {
    background: url(deleteBtn.jpg) no-repeat;
    background-size: 100%;
}

.search {
    background: url(sBtn.jpg) no-repeat;
    background-size: 100%;
}

.clear {
    background: url(clearBtn.jpg) no-repeat;
    background-size: 100%;
}

button {
    width: 100px;
    height: 33px;
}

img {
    width: 100px;
    height: 33px;
}

#dbu {
    width: 400px;
    height: auto;
}

#addedit, #addedit tr, #addedit td, #addedit th {
    border: none;
}
